@charset "UTF-8";

/* 共通部分 
-----------------------*/
html {
    font-size: 100%;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(66, 69, 71);
}
h1, h2 {
    font-family: 'Sawarabi Mincho', sans-serif;
}
a {
    text-decoration: none;
    color: rgb(66, 69, 71);
}
a:hover {
    color: rgb(199, 174, 199);
}
label {
    display: block;
    margin-bottom: 3px;
}
input[type="email"],
input[type="text"],
input[type="password"],
textarea,
select {
    background-color: #f6f6f6;
    border: 1px #f6f6f6 solid;
    padding: 10px;
    width: 100%;
}
select {
    padding: 14px 10px;
}
input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    outline: none;
    background-color: #fff;
    border-bottom: 2px solid #83867d;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
.wrapper {
    width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
    min-height: calc(100vh - 240px);  /* フッター下部固定用 */
}
.user-wrapper {
    width: 700px;
}

/* ヘッダー 
-----------------------*/
.header-wrapper {
    margin: 0 auto;
    padding: 0 8%;
}
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.main-nav {
    display: flex;
    list-style: none;
}
.main-nav li a {
    padding-left: 30px;
    letter-spacing: 0.1rem;
}
.title {
    margin: 20px 0 40px 0;
    text-align: center;
    letter-spacing: 0.2rem;
}
.header-under-line {
    margin-bottom: 40px;
    border: 1px solid #eee;
}

/* フッター
-----------------------*/
.footer {
    text-align: center;
    height: 100px;
    padding: 40px 0;
    margin-top: auto;
}

/* フォーム関連
-----------------------*/
.form-main {
    border-top: 15px rgb(188, 193, 196) solid;
    padding: 20px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}
.form-group {
    margin-bottom: 20px;
}
.required {
    background-color: rgb(238, 91, 91);
    color: #ffffff;
    font-size: 0.8rem;
    padding: 0 10px;
    margin-left: 8px;
}
.btn {
    background-color: rgb(75, 81, 83);
    color: #fff;
    letter-spacing: 1.2rem;
    text-indent: 1.2rem;
    text-align: center;
    padding: 10px 30px;
    width: 100%;
}
.btn-comment-new {
    background-color: rgb(75, 81, 83);
    color: #fff;
    letter-spacing: 0.2rem;
    text-indent: 0.2rem;
    padding: 10px 30px;
}
.btn-block {
    display: block;
    letter-spacing: 0.2rem;
    text-indent: 0.2rem;
    margin-bottom: 10px;
}
.btn:hover,
.btn-comment-new:hover {
    background-color: #686d72;
    color: #fff;
}
.btn-new,
.btn-edit {
    background-color: #a0954f;
}
.btn-new:hover,
.btn-edit:hover {
    background-color: #e4d88b;
    color: #fff;
}
.btn-delete {
    background-color: #e66d64;
}
.btn-delete:hover {
    background-color: #eb8e87;
    color: #fff;
}
.image-preview {
    display: block;
    margin-bottom: 5px;
    width: 200px;
}

/* トップページ
-----------------------*/
.mobile-area {
    display: none;
}
.post-index-main {
    display: flex;
    justify-content: space-between;
}
.post-index-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    flex: 1;
}
.post-index-list {
    width: 48%;
    margin-bottom: 30px;
}
.image-trim {
    position: relative;
    overflow: hidden;
    padding-top: 60%;
}
.image-trim img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.post-index-title {
    margin: 10px 0;
}
.post-index-list > p {
    margin-bottom: 10px;
    font-size: 0.9rem;
    overflow-wrap: break-word;
}
.post-index-list span {
    margin-left: 5px;
    font-size: 0.8rem;
}
.post-index-detail {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-size: 0.9rem;
}
.post-index-meta {
    display: flex;
    flex-direction: column;
    color: #b9b9b9;
    text-align: right;
    width: 150px;
}
.post-index-user {
    display: flex;
}
.post-index-user img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center center;
    border: 1px #83867d solid;
}
.post-index-user-name {
    margin: auto 0 auto 10px;
}
.fa-icon {
    padding-right: 5px;
}
.log-in-user-area {
    width: 230px;
    margin-left: 30px;
}
.log-in-user-group {
    margin-bottom: 40px;
}
.log-in-user {
    display: flex;
    margin-bottom: 20px;
}
.log-in-user img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center center;
    border: 1px #83867d solid;
}
.log-in-user-name {
    margin: auto 0 auto 10px;
}
.category-title {
    text-align: center;
    letter-spacing: 0.2rem;
}
.category-list {
    padding: 0;
    margin: 10px 10px 10px 0;
}
.category-list li {
    font-size: 0.7rem;
    border-bottom: 1px solid #eee;
}
.category-list a {
    display: block;
    width: 100%;
    padding: 7px 0;
    font-size: 0.8rem;
}
.pagination {
    display: flex;
}
.pagination a,
.pagination span {
    font-size: 0.8rem;
    display: inline-block;
    border: 1px solid #eee;
    padding: 10px 20px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.pagination a:hover,
.pagination span:hover {
    background-color: #686d72;
    color: #eee;
}
.current-page {
    background-color: #cbcdcf;
}
.current-page:hover {
    background-color: #eee;
    color: #686d72;
}

/* ブログ照会画面
-----------------------*/
.post-detail {
    margin-bottom: 20px;
}
.post-detail h2 {
    border-bottom-color: #eee;
    border-bottom-width: thin;
    border-bottom-style: solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.post-date {
    font-size: 0.9rem;
    margin: auto 0 auto 15px;
}
.post-body {
    margin-top: 15px;
    margin-bottom: 30px;
}
.post-btn-edit-area {
    display: flex;
    justify-content: space-between;
}
.post-btn-edit-area .btn-edit {
    width: 100%;
}
.post-btn-edit-area form {
    width: 100%;
    margin-left: 10px;
}
.post-user-area {
    display: flex;
    margin-bottom: 10px;
}
.post-user {
    display: flex;
}
.post-user img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center center;
    border: 1px #83867d solid;
}
.post-user-name {
    margin: auto 0 auto 10px;
}
.comment-header {
    display: flex;
    justify-content: space-between;
}
.comment-hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: rgb(216, 213, 213);
    margin: 10px 0;
}
.comment-list-item {
    display: flex;
}
.comment-no {
    width: 60px;
    text-align: center;
}
.comment-detail {
    border-bottom-color: #eee;
    border-bottom-width: thin;
    border-bottom-style: solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    flex: 1;
}
.comment-body {
    margin-bottom: 10px;
}
.comment-user-area {
    display: flex;
}
.comment-user {
    display: flex;
}
.comment-date {
    margin: auto 0 auto 0;
}
.comment-btn-area {
    display: flex;
    margin: auto 0 auto 0;
}
.comment-user-area img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center center;
    border: 1px #83867d solid;
}
.comment-user-name {
    margin: auto 15px auto 10px;
}
.comment-user-name a {
    color: rgb(102, 170, 238);
}
.comment-edit,
.comment-delete {
    margin-left: 15px;
}
.comment-delete:hover {
    color: rgb(199, 174, 199);
}

/* レスポンシブ対応
-----------------------*/
@media screen and (max-width: 1100px) {
    .wrapper {
        width: 900px;
    }
    .user-wrapper {
        width: 700px;
    }
    .post-index-group {
        display: block;
    }
    .post-index-list {
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .wrapper,
    .user-wrapper {
        width: 600px;
    }
    .pagination a,
    .pagination span {
        padding: 10px 15px;
    }
}
@media screen and (max-width: 600px) {
    .page-header {
        flex-direction: column;
        justify-content: space-around;
    }
    .main-nav li a {
        padding: 0 15px;
    }
    .wrapper,
    .user-wrapper {
        width: 500px;
    }
    .post-user-area,
    .comment-user-area {
        flex-direction: column;
    }
    .post-date,
    .comment-date {
        text-align: end;
    }
    .comment-btn-area {
        justify-content: flex-end;
    }
    .mobile-area {
        display: block;
        margin-bottom: 30px;
    }
    .log-in-user-area,
    a.page-next,
    a.page-prev {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .wrapper {
        width: 400px;
    }
    .user-wrapper {
        width: 370px;
    }
}
@media screen and (max-width: 400px) {
    .wrapper,
    .user-wrapper {
        width: 350px;
    }
}